body {
  background-color: #f2eee3;
  font-family: "Open Sans", sans-serif;
  color: #2d2f31;
}
h1 {
  padding: 40px;
  font-size: 1.5em;
  text-align: center;
}
li {
  background-color: rgb(255, 255, 255);
  list-style: none;
}
li a {
  text-decoration: none;
  color: #2d2f31;
}
nav {
  background-color: #f2eee3;
  width: 300px;
  margin: 40px auto;
}
span {
  padding: 30px;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  background-color: #2d2f31;
}
span::after {
  float: right;
  right: 10%;
  content: "+";
}
.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  margin: auto -40px;
  transition: height 0.4s ease;
}
.slide li {
  padding: 30px;
}
#touch {
  position: absolute;
  opacity: 0%;
  height: 0%;
}
#touch:checked + .slide {
  height: 300px;
}
